<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true" style="z-index: 2000">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-white" id="feedbackModalHeader">
                <h5 class="modal-title" id="feedbackModalLabel">
                    <i id="feedbackModalIcon" class="me-2"></i>
                    <span id="feedbackModalTitle"></span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="feedbackModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>

                <button type="button" class="btn" id="feedbackConfirmBtn" style="display: none;">Onayla</button>
            </div>
        </div>
    </div>
</div>